<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tp Heroes</title>
</head>
<body>
    <h1 align ="Center">Trabajo Heroes</h1>
    <ul type=")"> 
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Babbage</a></li>
        <li><a href="/berners-lee"></a>Berners-lee</li>
        <li><a href="/clarke"></a>Clarke</li>
        <li><a href="/hamilton"></a>Hamilton</li>
        <li><a href="/hopper"></a>Hopper</li>
        <li><a href="/lovelace"></a>Lovelace</li>
        <li><a href="/turing"></a>Turing</li>
    </ul>
    <div>
       <a href="/babbage"><img src="/img/babbage.jpg" alt="babbage"></a>
       <a href="/berners-lee"><img src="/img/berners-lee.jpg" alt="berners-lee"></a>
       <a href="/clarke"><img src="/img/clarke.jpg" alt="clarke"></a>
       <a href="/hamilton"><img src="/img/hamilton.jpg" alt="hamilton"></a>
       <a href="/hopper"><img src="/img/hopper.jpg" alt="hopper"></a>
       <a href="/lovelace"><img src="/img/lovelace.jpg" alt="lovelace"></a>
       <a href="/turing"><img src="/img/turing.jpg" alt="turing"></a>
    </div>
</body>
</html>